header {
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    margin: 0 1rem;
    color: #00AA00;
    transition: ease-in-out .3s;
}

header nav a:hover {
    opacity: .7;
}

header nav a.active-link {
    opacity: .7;
}

header img {
    width: 80px;
    transition: ease-in-out .3s;
}

header img:hover {
    opacity: .8;
}